page-learning {
  h1 {
    font-size: 23rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  p {

  }
  .hint {
    font-weight: lighter;
    font-size: 1.9rem;
    padding: 2rem;
  }
  .id {
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 2rem;
  }

  ion-spinner * {
    width: 28px;
    height: 52rem;
  }

}
