page-test {

  .startButton {
    margin-top: 3rem;
  }

  .emoji {
    text-align: center;
    font-size: 20rem;
  }

  .test {
    color:  white;
    background-color: map-get($colors, danger);
  }
}
